@import "tailwindcss";

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.75;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
/* Define the slow-ping class */
.slow-ping {
  animation: pulse 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.custom-title {
  font-size: 60px;
}

@media (max-width: 1280px) {
  h2.custom-title {
    font-size: 30px;
  }
}


